
<br><br><br><br><br><br>
<div>

<table width="30%" align="center" border="0">

<tr bgcolor="grey"><td colspan="2"><b>Add Customer</b></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td><b>Username</b></td>
<td><input type="text" name="username" ng-model="customerController.customer.username"/></td>
</tr>
<tr><td><b>Password</b></td>
<td><input type="password" name="password" ng-model="customerController.customer.password"/></td>
</tr>
<tr><td><b>Email</b></td>
<td><input type="text" name="email" ng-model="customerController.customer.email"/></td>
</tr>
<tr><td><b>Contact No.</b></td>
<td><input type="text" name="contactno" ng-model="customerController.customer.contactno"/></td>
</tr>
<tr><td colspan="3">&nbsp;</td></tr>
<tr><td colspan="3" align="center"><input type="button" value="Submit" ng-click="customerController.addCustomer()"/></td></tr>
</table>
</div>
  